@use '../../Global/Global.scss' as global;

* {
  @include global.reset-styles;
}

//gap: 8px between titles
//gap: 24px between title and content
//padding: 32px between buttons and content
//padding: 16px between inputs

.forgot-password-reset {
  @include global.container();
  @include global.flex-main();
  .forgot-password-reset-container {
    max-width: 450px;
    width: 100%;
    @include global.flex-main(24px);
    .forgot-password-reset-title {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .ant-typography {
        margin-bottom: 0px;
      }
    }
    .forgot-password-reset-form {
      width: 100%;
      .forgot-password-reset-button {
        padding-top: 16px;
        display: flex;
        width: 100%;
        .ant-btn {
          width: 100%;
        }
      }
    }
  }
}

.ant-form-item {
  padding-bottom: 16px;
  margin-bottom: 0px;
}
