@use '../Global/Global.scss' as global;

* {
  @include global.reset-styles;
}

.tag {
  display: flex;
  width: fit-content;
  padding: 4px 0px;
  .tag-label {
    padding: 4px 8px;
    border-radius: 8px;
    border: 2px solid;
    background-color: global.$white-color;
    .ant-typography {
      margin-bottom: 0px;
    }
  }
}
