@use '../../Global/Global.scss' as global;

* {
  @include global.reset-styles;
}

//gap: 8px between titles
//gap: 24px between title and content
//padding: 32px between buttons and content
//padding: 16px between inputs

.forgot-password-send {
  @include global.container();
  @include global.flex-main();
  .forgot-password-send-container {
    max-width: 450px;
    width: 100%;
    @include global.flex-main(24px);
    .forgot-password-send-title {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .ant-typography {
        margin-bottom: 0px;
      }
    }
    .forgot-password-send-form {
      @include global.flex-main(16px);
      .ant-typography {
        margin-bottom: 0px;
      }
    }
    .forgot-password-send-email-form {
      width: 100%;
      .forgot-password-send-email-button {
        padding-top: 16px;
        display: flex;
        gap: 48px;
        .ant-btn {
          width: 100%;
        }
      }
    }
  }
}
