@use '../../../Global/Global.scss' as global;

* {
  @include global.reset-styles;
}

.collaborators-carousel {
  background-color: global.$white-color;
  @include global.flex-main(row);
  .collaborators-carousel-container {
    display: flex;
    gap: 16px;
    max-width: 750px;
    width: 100%;
    background-color: global.$black-color_5;
    padding: 16px 4px;
    border-radius: 16px;
    border: 1px solid global.$black-color_50;
    justify-content: space-between;
    align-items: center;
    .collaborators-carousel-slide {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .collaborators-carousel-add {
        cursor: pointer;
        @include global.flex-main();
        .collaborators-carousel-add-box {
          border: 2px dashed global.$black-color_50;
          border-radius: 100%;
          width: 94px;
          height: 94px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: transparent;
          .anticon svg {
            fill: global.$black-color_50;
          }
        }
        .ant-typography {
          margin-bottom: 0px;
        }
      }
    }
  }
}

.invite-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  .invite-form-input {
    width: 100%;
  }
}
