@use '../../../Global/Global.scss' as global;

* {
  @include global.reset-styles;
}

.testimonial {
  background-color: global.$white-color;
  border: 1px solid global.$black-color_25;
  border-radius: 16px;
  padding: 16px;
  .testimonial-container {
    max-width: 850px;
    width: 100%;
    display: contents;
    align-self: center;
    .ant-carousel .slick-dots li button {
      background-color: global.$primary-color;
      margin-top: 48px;
    }

    .ant-carousel .slick-dots li.slick-active button {
      background-color: global.$active-color;
    }
    .ant-carousel .slick-prev,
    .ant-carousel .slick-next {
      color: global.$primary-color;
    }
    .testimonial-card {
      display: flex;
      justify-content: center;
      align-items: center;
      .card {
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-self: center;
        .card-quote-p {
          font-style: italic;
          margin-left: 20px;
          max-width: 400px;
          .ant-typography {
            font-size: 20px;
            margin-bottom: 0px;
          }
        }
        .card-person {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          max-width: 180px;
          width: 100%;
          .card-person-image {
            @include global.image-settings();
            .testimonial-photo {
              width: 100px;
              height: 100px;
              object-fit: cover;
            }
          }
          .card-person-logo {
            font-size: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .card-person-company {
            display: flex;
            flex-direction: column;
            gap: 4px;
            .ant-typography {
              margin-bottom: 0px;
            }
            .testimonial-position {
              color: global.$black-color_50;
            }
          }
        }
      }
    }
  }
}
