# Ignorar dependencias instaladas localmente
node_modules
npm-debug.log
*.log

# Ignorar configuraciones de entornos locales
.env
.env.*

# Ignorar archivos y directorios específicos del control de versiones
.git
.gitignore

# Ignorar configuraciones del editor/IDE
.vscode
.idea

# Ignorar configuraciones específicas de Docker Compose
docker-compose.override.yml

# Ignorar configuraciones del sistema operativo
.DS_Store
Thumbs.db

# Ignorar resultados de compilación y cachés
dist/
build/
.out/
.cache/

# Ignorar archivos de pruebas
coverage/
*.test.js
*.spec.js

# Ignorar archivos temporales o de desarrollo
*.swp
*.tmp

# Ignorar archivos de dependencias no necesarios
.npm/
yarn.lock
